<mat-nav-list>

    <div fxLayout="column" fxLayoutAlign="center center">
        <br>
        <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t1.6435-9/144473965_1159334351164393_4853197130297869888_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=n0rFOjKnE5MAX87Nhqi&_nc_ht=scontent.ftun9-1.fna&oh=ac094f8a2bed80e12839f229512bdecb&oe=60AB62B1" alt="">
        <br>
        <h2>Malek Toujani</h2>
        <h4>maliktoujani@gmail.com</h4>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Solutions partenaires</h2>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/solutionpartenaire">Gestion solutions partenaire</a>
    <h2 matSubheader>Contrats</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/ajoutcontrat">Ajouter contrat</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/modifiercontrat">Gestion des contrats</a>
    <h2 matSubheader>Web service</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/webservice">Paramètrer les web services</a>
    <h2 matSubheader>Statistiques</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/dashboard">Appels web service</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/dashboard">Rapport récapitulatif</a>
    

</mat-nav-list>