<h2 matSubheader fxLayout="row" fxLayoutAlign="space-around center" >Ajouter un contrat</h2>

<br>

<div>
    <ul fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
        <li>
            <mat-form-field><input matInput placeholder="Nom du contrat"></mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <mat-label>Date début</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <mat-label>Date fin</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <mat-label>Solution partenaire</mat-label>
                <mat-select>
                    <mat-option *ngFor="let solution of SP" [value]="solution.value">
                    {{solution.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </li>  
    </ul>

    <ul fxLayout="column">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Web service </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <mat-label>Web service</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let webservice of WS" [value]="webservice.value">
                            {{webservice.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="contrat">
                <th mat-header-cell *matHeaderCellDef> Commentaire </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field><input matInput placeholder="Commentaire"></mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Détails </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button color="primary" (click)="openDialogAcces()">...</button>    
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </ul>

    <ul fxLayoutAlign="center">
        <button mat-button color="primary">Ajouter un accés</button>
    </ul>

    <mat-divider></mat-divider>

    <ul fxLayoutAlign="center">
        <button mat-raised-button color="primary">Valider</button>
        <button mat-button color="primary">Annuler</button>
    </ul>

</div>


   

