<h2 matSubheader fxLayout="row" fxLayoutAlign="space-around center" >Ajouter un contrat</h2>

<br>

<div>
    <form [formGroup]="myForm"> Value: {{myForm.value | json}}
        <ul fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
            <li>
                 <mat-form-field>
                    <mat-label>Titre</mat-label>
                    <input matInput formControlName="title" placeholder="Ex. Contrat C1" required>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field>
                    <mat-label>Date début</mat-label>
                    <input matInput formControlName="dateDebut" placeholder="DD-MM-YYYY" [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field>
                    <mat-label>Date fin</mat-label>
                    <input matInput formControlName="dateFin" placeholder="DD-MM-YYYY" [matDatepicker]="picker2" required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field>
                    <mat-label>Solution partenaire</mat-label>
                    <mat-select formControlName="solutionPartenaire" required>
                        <mat-option *ngFor="let solution of solutions" [value]="solution">
                            {{solution.username}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </li>  
            <li>
                <mat-form-field><input matInput formControlName="label" placeholder="Label"></mat-form-field>
            </li>
        </ul>
                
 
        <div class="matstyle">
            <div class="mat-elevation-z2">
                <div formArrayName="infoAcces">
                    <div *ngFor="let obj of infoAccesForms.controls; let i=index" [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-around center">
                        
                            <mat-form-field>
                                <mat-label>Web service</mat-label>
                                <mat-select formControlName="webService" required>
                                    <mat-option *ngFor="let webservice of webservices" [value]="webservice">
                                        {{webservice.url}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                                                    
                            <mat-form-field>
                                <input matInput formControlName="commentaire" placeholder="Commentaire">
                            </mat-form-field>
                            
                            <button mat-stroked-button color="primary" (click)="openDialogAcces()">Détails</button>
                            
                            <button mat-icon-button color="primary" (click)="onRemoveInfoAcces(i)"><mat-icon>delete</mat-icon></button>
                    
                    </div>
                </div>
            </div>
        </div>
        <div fxLayoutAlign="center">
            <button mat-button color="primary" (click)="onAddInfoAcces()">Ajouter un accés</button>
        </div>
    </form>

    <mat-divider></mat-divider>

    <ul fxLayoutAlign="center">
        <button mat-raised-button type="submit" color="primary"  (click)="onValider()">Valider</button>
        <button mat-button type="reset" color="primary">Annuler</button>
    </ul>
</div>
