<h2 class="text-center">Appels des web service : par solution partenaire</h2>

<mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let solutionpartenaire of solutionpartenaires" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{solutionpartenaire.username}}
            </mat-panel-title>
            <mat-panel-description>
                {{solutionpartenaire.email}} | {{solutionpartenaire.phone}}
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-label>Historique des appels :</mat-label>
        <table>
            <tr>
            <th><span>Web service</span></th>
            <th><span>Date d'appel</span></th>
            <th><span>Heure d'appel</span></th>
            <th><span>Résultat d'appel</span></th>
            </tr>
        
            <tr *ngFor="let historiqueAppel of solutionpartenaire.historiqueAppels">
            <td>{{url}}{{historiqueAppel.webService.id}}</td>
            <td>{{historiqueAppel.dateHeure | date:'fullDate'}}</td>
            <td>{{historiqueAppel.dateHeure | date:'mediumTime'}}</td>
            <td *ngIf="historiqueAppel.resultat == true; then reussi else echec"></td>
                <ng-template #reussi>Réussi</ng-template>
                <ng-template #echec>Echec</ng-template>
            </tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>