<h2 mat-dialog-title>Paramétres du compte</h2>
<mat-dialog-content fxLayout="column" fxLayoutAlign="center">
    <ul >
        <li>
            <div>
                <br>
                <img src="https://www.bootdey.com/img/Content/avatar/avatar7.png" alt="Photo de profile">
                <br>
                <h2>Malek Toujani</h2>
                <h4>maliktoujani@gmail.com</h4>
            </div>
        </li>
        <li>
            <mat-form-field><input matInput placeholder="Identifiant"></mat-form-field>
        </li>
        <li>
            <mat-form-field><input matInput placeholder="Nouveau mot de passe"></mat-form-field>
        </li>
        <li>
            <mat-form-field><input matInput placeholder="Retapez nouveau mot de passe"></mat-form-field>
        </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
    <button mat-button mat-dialog-close>Valider</button>
    <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>