<h2 matSubheader fxLayout="row" fxLayoutAlign="space-around center" >Rapport récapitulatif : par web service</h2>

<mat-card>
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType"></canvas>
</mat-card>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row">

    <mat-card fxFlex="33.33">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"></canvas>
    </mat-card>

    <mat-card fxFlex="33.33">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"></canvas>
    </mat-card>

    <mat-card fxFlex="33.33">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="radarChartLabels"
        [chartType]="radarChartType"></canvas>
    </mat-card>
    
</div>

<br>
<mat-divider></mat-divider>
<br>

<mat-card>
    <div>Les appels de web services d'aujourd'hui :</div>
    <table>
        <tr>
        <th>Solution partenaire</th>
        <th>Web service</th>
        <th>Heure d'appel</th>
        <th>Résultat d'appel</th>
        </tr>
    
        <tr *ngFor="let todaysAppel of todaysAppels">
        <td>{{todaysAppel.solutionPartenaire.username}}</td>
        <td>{{todaysAppel.webService.url}}</td>
        <td>{{todaysAppel.dateHeure | date:'mediumTime'}}</td>
        <td *ngIf="todaysAppel.resultat == true; then reussi else echec"></td>
            <ng-template #reussi>Réussi</ng-template>
            <ng-template #echec>Echec</ng-template>
        </tr>
    </table>
</mat-card>

<br>
<mat-divider></mat-divider>
<br>