<h2 class="text-center">Rapport récapitulatif : par solution partenaire</h2>

<mat-card>
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    chartType="bar"></canvas>
</mat-card>

<br>
<mat-divider></mat-divider>
<br>

<div class="container-fluid">
    <div class="row">
        <mat-card class="col-lg-4">
            <h4><strong>La solution partenaire la plus active :</strong></h4>
            <p>Solution partenaire: {{topone.label[0]}}</p>
            <p>Nombre d'appels réussi: {{topone.data[1]}}</p>
            <p>Nombre d'appels échoué: {{topone.data[2]}}</p>
            <p>Totale des appels: {{topone.data[0]}}</p>
        </mat-card>

        <mat-card class="col-lg-4">
            <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            chartType="pie"></canvas>
        </mat-card>

        <mat-card class="col-lg-4">
            <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            chartType="doughnut"></canvas>
        </mat-card>
    </div>
</div>

<br>
<mat-divider></mat-divider>
<br>

<mat-card>
    <h4><strong>Les appels de web services d'aujourd'hui :</strong></h4>
    <table>
        <tr>
        <th><span>Solution partenaire</span></th>
        <th><span>Web service</span></th>
        <th><span>Heure d'appel</span></th>
        <th><span>Résultat d'appel</span></th>
        </tr>
    
        <tr *ngFor="let todaysAppel of todaysAppels">
        <td>{{todaysAppel.solutionPartenaire.username}}</td>
        <td>{{url}}{{todaysAppel.webService.id}}</td>
        <td>{{todaysAppel.dateHeure | date:'mediumTime'}}</td>
        <td *ngIf="todaysAppel.resultat == true; then reussi else echec"></td>
            <ng-template #reussi>Réussi</ng-template>
            <ng-template #echec>Echec</ng-template>
        </tr>
    </table>
</mat-card>

<br>