<h2 mat-dialog-title fxLayoutAlign="center">Ajouter un web service</h2>

<form [formGroup]="myForm">
    <div class="container">
        <div class="col">
            <div class="row">
                <mat-form-field><mat-label>Url</mat-label><input matInput formControlName="url" required></mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Format</mat-label>
                    <mat-select formControlName="format" required>
                        <mat-option *ngFor="let format of formats" [value]="format">
                            {{format}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Methode http</mat-label>
                    <mat-select formControlName="methodeHttp">
                        <mat-option *ngFor="let methodeHttp of methodeHttps" [value]="methodeHttp">
                            {{methodeHttp}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>

<div class="d-flex justify-content-center">
    <button mat-button type="submit" (click)="addWebService()" [disabled]="myForm.invalid">Valider</button>
    <button mat-button id="closebutton" mat-dialog-close>Annuler</button>
</div>