<h2 mat-dialog-title fxLayoutAlign="center">Ajouter un web service</h2>

<form [formGroup]="myForm">
    <ul>
        <li><mat-form-field><mat-label>Url</mat-label><input matInput formControlName="url" required></mat-form-field></li>
        <li>
            <mat-form-field>
                <mat-label>Format</mat-label>
                <mat-select formControlName="format" required>
                    <mat-option *ngFor="let format of formats" [value]="format">
                        {{format}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <mat-label>Methode http</mat-label>
                <mat-select formControlName="methodeHttp" required>
                    <mat-option *ngFor="let methodeHttp of methodeHttps" [value]="methodeHttp">
                        {{methodeHttp}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </li>
    </ul>
</form>

<div fxLayout="row" fxLayoutAlign="center center">
    <button mat-button type="submit" (click)="addWebService()" [disabled]="myForm.invalid">Valider</button>
    <button mat-button id="closebutton" mat-dialog-close>Annuler</button>
</div>