<h2 class="text-center">Gestion solution partenaire</h2>
<br>

<mat-form-field class="col-12">
  <mat-label>Recherche</mat-label>
  <input matInput type="search" (ngModelChange)="searchSolutions(key.value)" #key="ngModel" ngModel name="key" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="solutions" class="mat-elevation-z2">

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Nom d'utilisateur </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> N° de téléphone </th>
    <td mat-cell *matCellDef="let element" > {{element.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef> Mot de passe </th>
    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="openDialogEdit(element)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="primary" (click)="openDialogSupp(element.id)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Aucune solution partenaire trouvé.</td>
  </tr>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<div fxLayoutAlign="center">
  <button mat-icon-button color="primary" (click)="openDialogAjout()"><mat-icon>add_circle_outline</mat-icon></button>
</div>
